 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     transition: .2s linear;
     border: none;
     outline: none;
 }

 body {
     min-height: 100vh;
     width: 100%;
 }

 .navbar {
     background: #003049;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     padding: 1rem;
     gap: 1rem;
 }

 .text {
     color: white;


     font-family: "Roboto", sans-serif;
     font-weight: 500;
     font-style: normal;
     font-size: 1.5rem;

 }

 form input {
     border: 1px solid silver;
     padding: .5rem .5rem;
 }

 .form-search-btn {
     padding: .5rem .5rem;
     background: #ffb703;
 }